# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

# =========================
# Virtual environment
# =========================
venv/
.env
.env.*

# =========================
# Pytest
# =========================
.pytest_cache/
tests/.pytest_cache/

# =========================
# PyInstaller build files
# =========================
build/
dist/
*.spec

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Excel output (optional)
# =========================
*.xlsx
*.xls